---
layout: 2020/default
section: c4p
title: Envío de propuestas para esLibre
---


<p style="padding-top: 1em" align="center">
  <cite style="color: black;">
    <strong><span class="red">ATENCIÓN</span></strong>: Debido a la situación por el COVID-19, la celebración de <strong>es<span class="red">Libre</span> 2020</strong> finalmente se celebrará de forma <strong>completamente online</strong>. Más información <a href="/2020/reanudacion/">aquí</a>.
  </cite>
</p>

<h1 class="mt-3 mb-3">Petición de contribuciones para <strong>es<span class="red">Libre</span></strong> 2020</h1>

<p align="center">
  <cite style="color: black;">
    You can find an English version of this text <a href="/2020/c4p-en/">here</a>.
  </cite>
</p>

<p>
  <cite style="color: grey;">
    ¿Crees que conoces a alguien que quiera hablar en nuestro evento? Reenvía esta petición de contribuciones a quien quieras, te lo agradeceríamos un montón.
  </cite>
</p>

<p>
  <cite style="color: grey;">
    ¡Plazo reabierto para la edición virtual! Consulta las nuevas fechas límite.
  </cite>
</p>

<p>
  El <a href="https://eslib.re">congreso <strong>es<span class="red">Libre</span></strong></a> es un encuentro de <i>personas interesadas en
    las <a href="https://www.gnu.org/philosophy/free-sw.es.html">tecnologías libres</a>, enfocado a compartir conocimiento y experiencia alrededor de las mismas</i>. La próxima edición se celebrará de forma online transmitiendo desde la
  <strong><a href="https://www.urjc.es/">Universidad Rey Juan Carlos</a> (Madrid)</strong> los días <strong>CAMBIARCAMBIAR</strong>.
</p>

<p>
  En <strong>es<span class="red">Libre</span></strong> intentamos mantener un evento anual donde todo el mundo está invitado a participar, el único requisito es que tenga algo que decir sobre la tecnología libre. Nos interesan personas de todas las edades, experiencias y perfiles ya sean técnicas o usuarias. Estamos deseando escuchar y aprender de tecnología abierta y nuestro objetivo principal es llegar a comunidades de todo tipo.
</p>


<h3 class="mt-3 mb-3">Temática</h3>

<p>
  El <strong>software libre</strong> es la temática central de <strong>es<span class="red">Libre</span></strong>. Es decir, queremos charlas tanto técnicas (software/hardware) como del mundo del conocimiento libre, pasando por licencias, aplicación de esa tecnología, comunidades, experiencias y arte libre. En líneas generales, <i>temas relacionados directamente con obras (software, hardware,
    cultura, etc.) que se distribuyan con licencias libres</i>, según la <a href="https://opensource.org/osd">definición de OSI de open
    source</a> o la <a href="https://www.gnu.org/philosophy/free-sw.html">definición de la FSF de software libre</a>, o que cumplan la
  <a href="https://freedomdefined.org/Definition">definición de obra cultural libre</a> se considera que encajan perfectamente en
  <strong>es<span class="red">Libre</span></strong>. ¿Tienes algo en mente? ¡Anímate!
</p>

<p>
  Aunque mucho software libre (y en general obras libres) se distribuye comercialmente, queremos mantener
  <strong>es<span class="red">Libre</span></strong> como un foro neutro con respecto a los intereses comerciales. <u>En general, no se
    aceptarán ponencias, talleres o salas que promocionen específicamente una oferta comercial.</u>
</p>

<h3 class="mt-3 mb-3">Tipos de contribuciones</h3>

<p>
  Hay varios tipos de contribuciones que puedes proponer:
</p>

<ul>
  <li><strong>Charla</strong>. Presentación "tradicional", en formato normal (20 min. aproximadamente) o en formato relámpago (10 min.
    aproximadamente). La organización podrá proponer cambios de formato a alguna de las charlas, por motivos organizativos o de contenidos.
    También podrá, de forma excepcional, proponer a alguna charla un formato más largo.</li>
  <li><strong>Sala (devroom)</strong>. Organización del programa de una sala, que discurrirá en paralelo con otras actividades del congreso.
    Normalmente una sala estará organizada por y/o para una comunidad, y habitualmente será especializada en un tema (aunque también puede
    ser generalista). Sólo como ejemplo, en 2019 tuvimos las siguientes salas: Software libre en la Universidad; Privacidad,
    descentralización y soberanía digital; Perl; Informática y Matemáticas.</li>
  <li><strong>Taller</strong>. Presentación práctica, "manos en la masa". Puede ser en muchos formatos, desde demostraciones que los
    asistentes puedan seguir, hasta sesiones de iniciación a una tecnología, donde los asistentes puedan experimentar con ella.</li>
  <li><strong>Otra</strong>. ¡Usa tu imaginación! Propón otros formatos, estamos interesados en explorar otras formas de compartir
    conocimiento.</li>
</ul>

<p>
  En la plantilla para proponer cada tipo de contribución podrás encontrar algún detalle más.
</p>

<h3 class="mt-3 mb-3">Me interesa impartir una charla pero... ¿Cómo?</h3>
<p>
¿Nunca has impartido una charla pero quieres estrenarte? En este evento nos encantaría acompañarte en esa aventura. Somos conscientes de que dar una charla puede ser un reto importante y por eso queremos darte una serie de pautas que te ayuden a exponer con nosotros (o donde sea).
<li>Aquí te dejamos una lista de recursos para exponer sin usar -ugh- powerpoint: Markdown, LaTex, Marp, Pandoc.</li>
<li>La gente de TED ha creado una <a href="https://www.ted.com/playlists/574/how_to_make_a_great_presentation">lista de vídeos</a> que enseñan a hacer presentaciones.</li>
<li>Al ser un congreso online, necesitarás micro y un ordenador (o un móvil en última instancia), puedes prácticar a hablar frente al ordenador llamando a tu familia o amistades por <a href="https://meet.jit.si/">Jitsi</a> y será casi igual cuando lo hagas de verdad.</li>
<li>No escribas mucho texto en la presentación, haz una lista de puntos claves y desarróllalos hablando. Como es online, puedes tener una chuleta y nadie se dara cuenta ;) pero procura no leer todo el tiempo o no quedará igual de fluido. ¡Dejate llevar! como lo harías en una conversación.</li>
<li>Para que las y los asistentes que te escuhen puedan seguirte mejor, crea un índice exponiendo las ideas de las que quieres hablar y sigue ese orden durante la charla.</li>
<li>Acaba con un resumen que deje en las personas que te están escuchando con una idea que llevarse a sus vidas, y así crear un impacto mucho más interesante.</li>
<br>
De nuevo, todo esto son sugerencias. Crea tu presentación como quieras y si necesitas más guía y ayuda no dudes en preguntar por ella a organización. Para inspirarte, te dejamos una lista de charlas online que puedes ver ahora mismo:

<li><a href="https://www.youtube.com/watch?v=ht6-jX8YF38">Miriam González: Sistema de diseño para dummies (TotoConf)</a></li>
<li><a href="https://www.youtube.com/watch?v=VGfoq5WO0Kc">Ana Valdivia: Cómo aplicar el feminismo a los datos (TotoConf)</a></li>
<li><a href="https://www.youtube.com/watch?v=1snO9k2gOu4&list=PLyLTyCCJDTTfpr3LS731t47LnXTUdr4Bi&index=6">Erika Heidi: The art of programming (Codeland)</a></li>
<li><a href="https://www.youtube.com/watch?v=zHvrtt5raA4&list=PLyLTyCCJDTTfpr3LS731t47LnXTUdr4Bi&index=13">Joe Karlsson: An introduction to IoT</a></li>

<br>
Ahí fuera hay un montón de proyectos interesantes libres en los que participar, o usar. Puedes empezar <a href="https://distrowatch.com/">buscando un sistema operativo libre</a> que vaya acorde con tu personalidad, leer algunos proyectos de desarrollo web en un <a href="www.dev.to">blog libre</a> o de metasoftware-libre en un <a href="www.elbinario.net">este otro</a>. También puedes explorar las diferentes redes sociales libres del <a href="https://fediverse.party/">Fediverso</a> como <a href="https://joinmastodon.org/">Mastodon</a>. Date un paseo por estos proyectos y si te gustan, ven al evento para aprender sobre muchos más. 

</p>

<h3 class="mt-3 mb-3">Nuestro compromiso por la diversidad</h3>
<p>
La organización se <a href="enlace_al_codigo_de_conducta">compromete</a> a crear un ambiente seguro, no tóxico y diverso, de modo que nos encantaría dar voz a ponentes de las varias comunidades minoritarias que hagan uso o desarrollen software libre. Somos conscientes de que hay muchas personas que usan y crean tecnología libre, y muchas veces no son escuchadas, queremos cambiar eso: ofrecemos nuestro micrófono y espacio para que se hable desde estas comunidades. Queremos aprender y crear puentes, para que la tecnología sea (al fin) un herramientas de apoyo y colaboración. Si crees que en tu comunidad tenéis algo que contar desde el desarrollo o la experiencia usando software libre, háznoslo saber. Buscamos un futuro colaborativo, multidisciplinar y libre, ¡ayúdanos a conseguirlo!
</p>

<h3 class="mt-3 mb-3">Fechas</h3>

<ul>
  <li>Fecha límite de propuesta de charlas, talleres, sala y otras: <strong>31 de agosto</strong></li>
  <li>Fecha límite de programa de salas: <strong>31 de agosto</strong> (ese día tendrán que tener su programa finalizado)</li>
  <li>Celebración del congreso <strong>es<span class="red">Libre</span></strong>: <strong>18 y 19 de septiembre</strong></li>
</ul>

<p>
  <strong>El límite de todas las fechas son a las 23:59 hora de Madrid.</strong>
</p>



<h3 class="mt-3 mb-3">Cómo proponer tu contribución</h3>

<p>
  La petición de contribuciones está abierta a todo el mundo. La forma de proponer una contribución será mediante un
  <strong><a href="https://docs.gitlab.com/ee/user/project/merge_requests/creating_merge_requests.html">merge request</a> (pull request)
  </strong> en el <strong><a href="https://gitlab.com/eslibre/propuestas">repositorio de propuestas</a></strong>.
</p>

<p>
  Para cada tipo de contribución tienes una plantilla en la carpeta raíz de este repositorio. Cópiala a la carpeta del año en curso, dentro
  de la subcarpeta correspondiente (charlas, salas, etc.). Usa un nombre de fichero que no esté ya usado, y que refleje el título de tu
  propuesta. Rellénala y haz un merge request que la incluya, para proponer tu actividad.
</p>

<p>
  <u>Cualquiera podrá ver estas propuestas, y si quiere, comentarlas</u>. La organización de <strong>es<span class="red">Libre</span></strong>
  irá comentando y aceptando (o no) las que le vaya pareciendo conveniente, de acuerdo con su idea sobre el congreso. Si propones una
  contribución, estate atento a los comentarios que puedas recibir, pueden incluir preguntas y peticiones de clarificación que sería
  conveniente responder.
</p>

<p>
  Si tienes problemas de cualquier tipo, o no sabes cómo funciona la mecánica de abrir un merge request,
  <strong><a href="https://gitlab.com/eslibre/propuestas/issues/new">abre una incidencia en ese mismo repositorio</a></strong>,
  por favor. Para poder hacerlo, tendrás que usar una cuenta de GitLab.
</p>

<p>
  También puedes coger la plantilla que corresponda del <a href="https://gitlab.com/eslibre/propuestas/">repositorio de propuestas
  </a> (<a href="https://gitlab.com/eslibre/propuestas/-/blob/master/plantillas/plantilla-charla.md">plantilla-charla.md</a>, etc.), la
  rellenas, y nos la envías por correo electrónico a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a>, poniendo como
  asunto del mensaje el título de la propuesta, y en la primera línea del mensaje, tu usuario de GitLab (para que podamos
  mencionarte cuando abramos el merge request en tu nombre, y así veas más fácilmente los comentarios que pueda haber).
</p>
