---
layout: 2021/default
section: acerca
title: Acerca de esLibre
---

<h1 class="mt-3">
  <strong>es<span class="red">Libre</span></strong> Edición 2021
</h1>

<p>
  <strong>es<span class="red">Libre</span></strong> es un encuentro de personas interesadas en las tecnologías libres,
  enfocado a compartir conocimiento y experiencia alrededor de las mismas.
</p>

<p>
  Después de una <a href="/2019" target="_blank">primera edición físicamente en Granada</a> (gracias a
  <a href="https://librelabgrx.cc/" target="_blank">LibreLabGRX</a>) y una segunda virtualmente desde
  <a href="/2020" target="_blank">Madrid</a> (gracias a la <a href="https://ofilibre.gitlab.io/" target="_blank">
    OfiLibre de la URJC</a>), volvemos otro año con la edición del año 2021. La próxima edición se celebrará
  virtualmente también como resultado de la propuesta presentada por <strong><a href="https://librelabucm.org/" target="_blank">
      LibreLabUCM</a></strong>. Para que podáis tener algo más de información provisionalmente, os dejamos aquí todo
  la información contenida en dicha propuesta.
</p>

<h2>Propuesta para la Celebración Virtual de <strong>es<span class="red">Libre</span> 2021</strong></h2>

<h3>
  Equipo organizador
</h3>

<p>
  El equipo organizador de esta propuesta estará compuesto en el equipo de organización local por:
</p>

<ul>
  <li>Rafael Mateus Marques</li>
  <li>Cristóbal Saraiba Torres</li>
  <li>Pedro Javier Fernández</li>
  <li>Luis Solis Redondo</li>
</ul>

<h3>
  Experiencia y motivación
</h3>

<p>
  Nuestra asociación LibreLabUCM se dedica a la difusión del software y conocimiento libre mediante la realización de
  charlas/talleres/eventos en diferentes lugares como facultades, institutos y también en diversos congresos.
</p>

<p>
  Nuestra experiencia es amplia, abarcando la organización de charlas y talleres, tanto en formato presencial como online,
  entre ellas destacar eventos como:
  <ul>
    <li><a href="https://bufferhack.librelabucm.org/" target="_blank">BufferHack 2019</a></li>
    <li>Semana del Software Libre</li>
    <li><a href="https://hacktoberday.librelabucm.org/" target="_blank">HacktoberDay 2020</a></li>
    <li>Colaboración, entre otros eventos, en esLibre 2019</li>
  </ul>
</p>

<p>
  Entre nuestras contribuciones al software libre se encuentran instancias de multiples servicios libres tales como
  plataformas de streaming como:
  <ul>
    <li>Peertube</li>
    <li>Redes federadas (Mastodon)</li>
    <li>Aplicaciones para multiconferencias (Mumble)</li>
  </ul>
</p>

<p>
  Ademas de estos servicios tambien hosteamos varios mirrors oficiales de SO entre ellos:
  <ul>
    <li>Trisquel</li>
    <li>F-Droid</li>
    <li>Debian</li>
    <li>ArchLinux</li>
    <li>CentOs</li>
  </ul>
</p>

<p>
  Puedes acceder a una lista actualizada con todos nuestros mirrors y servicios
  <a href="https://librelabucm.org/index.php/nuestros-proyectos/" target="_blank">aquí</a>.
</p>

<h3>
  Formato del congreso
</h3>

<p>
  Nuestra propuesta está basada en el formato de esLibre 2020 y esLibre 2019 junto a algunas modificaciones. El evento
  se realizaría de manera virtual y proponemos los siguientes tracks:
  <ul>
    <li><strong>Tracks Principal:</strong></li>
    <ul>
      <li>En este track se realizarán tanto el acto de bienvenida junto al acto de despedida y algunas sesiones especiales.</li>
    </ul>
    <li><strong>Tracks Talleres:</strong></li>
    <ul>
      <li><strong>Talleres I:</strong> en este track estarán todos aquellos talleres que tengan una duración aproximada de 45 minutos.</li>
      <li><strong>Talleres II:</strong> en este track estarán todos aquellos talleres que tengan una duración aproximada de 2h.</li>
    </ul>
    <li><strong>Track Salas (ocurrirán de manera simultánea):</strong></li>
    <ul>
      <li><strong>Sala I:</strong> en este track estarán todas aquellas ponencias que tengan una duración aproximada de 45 minutos.</li>
      <li><strong>Sala II:</strong> en este track estarán todas aquellas ponencias que tengan una duración aproximada de 45 minutos.</li>
    </ul>
    <li><strong>Track "Devrooms":</strong></li>
    <ul>
      <li>Existirán pequeños mini-tracks organizados por grupos com un máximo de 10 personas que se producirán de forma simultánea.</li>
    </ul>
    <li><strong>Track "Mesas de Comunidades":</strong></li>
    <ul>
      <li>Este track estará dedicado exclusivamente a proyectos de comunidades o mesas redondas.</li>
    </ul>
  </ul>
</p>

<h3>
  Posibles fechas
</h3>

<p>
  Proponemos que el congreso se realice totalmente en el segundo fin de semana de Mayo. Nos comprometemos en la medida de lo posible a evitar que la fecha final del congreso choque con la de otro congreso de temática similar.
</p>

<h3>
  Aspectos económicos
</h3>

<p>
  La asistencia al evento será gratuita. Aunque podríamos buscar posible financiación de empresas privadas (nos comprometemos a que no sean por parte de compañías cuya actividad pudiera ser contraria a la filosofía del evento) y
  presupuestos/subvenciones de instituciones públicas. En caso de conseguir patrocinio, este se invertiría en algún sorteo de diferentes dispositivos relacionados con el software libre o algún objeto con el logotipo de esLibre como agradecimiento
  para ponentes (tazas, camisetas o similares).
</p>

<h3>
  Facilidades disponibles
</h3>

<p>Para la realización del evento utilizaremos las siguientes plataformas:
  <ul>
    <li>Para la transmisión de los talleres utilizaremos dos instancias propias de Jitsi en diferentes redes y en diferentes dispositivos.</li>
    <li>Para las salas utilizaremos una plataforma que estamos desarrollando para eventos en la cual:</li>
    <ul>
      <li>Todos los asistentes podrán realizar preguntas/dudas mediante un chat que se encontrará disponible en una plataforma que estamos desarrollando.</li>
      <li><em>(Opcional)</em> Nuestra recomendación: Las preguntas se leerán 10 minutos antes de finalizar la charla y finalice la ponencia, todas las preguntas/respuestas se volcarán a un Etherpad.</li>
      <li>En cada ponencia existirán dos roles:</li>
      <ul>
        <li>Moderador en cada ponencia que se encargará de gestionar el chat de preguntas.</li>
        <li>Streamer: se encargará de retransmitir dicha sala de Jitsi hacia la plataforma, evitando así una aglomeración dentro de la sala del ponente.</li>
      </ul>
    </ul>
  </ul>

  <h3>
    Aspectos logísticos
  </h3>

  <p>
    Relación con otras comunidades tecnológicas y/o divulgativas que pudieran participar:
    <ul>
      <li>HackMadrid%27</li>
      <li>BitUp Alicante</li>
      <li>Core UPM</li>
      <li>LibreLabGRX</li>
      <li>Gul UC3M</li>
    </ul>
    Nos comprometemos a hacer un informe de valoración post-evento, que además de servir para conocer la evolución del mismo, pueda ayudar a futuros equipos organizadores.
  </p>

  <p>
    Disponemos de varios servidores que actualmente soportan sin problema varios de los servicios que ofrecemos y que en caso de celebrar el evento desviaríamos temporalmente parte de esa capacidad a hostear las distintas salas del evento.
    <ul>
      <li>Las charlas, salas y actos plenarios pueden ser grabados</li>
      <li>El software es accesible</li>
      <li>Planes para actividades comunitarias fuera del horario del congreso (reuniones virtuales):*</li>
      <ul>
        <li>Existirán salas virtuales (Mozilla Hubs)</li>
        <li>Además, tenemos pensado organizar algunos torneos de juegos libres para fomentar así la participación en el evento.</li>
      </ul>
    </ul>
  </p>

  <h3>
    Presentación de propuestas
  </h3>

  <p>
    Para la presentación de propuestas hemos decidido mantener <a href="/2020/c4p/" target="_blank">el mismo formato del año pasado<a />.
  </p>
