---
layout: 2021/default
section: conducta
title: Código de Conducta en esLibre
---

<h1 class="mt-3">Código de Conducta</h1>

<h2>Propósito</h2>

<p class="lead">
  <strong>es<span class="red">Libre</span></strong> cree en una <strong>comunidad abierta</strong> a todo el mundo. Como tal, estamos
  comprometidos a proporcionar un <strong>ambiente amigable, seguro y acogedor para todos</strong> independientemente de su sexo,
  orientación sexual, discapacidad, etnia, religión, sistema operativo preferido, lenguaje de programación o editor de texto.
</p>

<p>Este código de conducta resume nuestras expectativas para el comportamiento de los participantes, así como las consecuencias para el
  comportamiento inaceptable.</p>

<p>Instamos a todos los patrocinadores, voluntarios, ponentes, asistentes y otros participantes a que ayuden a tener una experiencia de
  evento segura y agradable para todos.</p>

<h2>Ciudadanía Open Source</h2>

<p>
  Un objetivo adicional de este código de conducta es <strong>incrementar la ciudadanía de código abierto</strong> alentando a los
  participantes a reconocer y fortalecer las relaciones entre lo que hacemos y <strong>la comunidad</strong> en general.
</p>

<p>
  En el servicio de este objetivo, los organizadores de <strong>es<span class="red">Libre</span></strong> recogerán candidaturas de
  ciudadanos ejemplares a lo largo de todo el evento y reconocerán selectos participantes después de la conferencia en el sitio web.
</p>

<p>
  Si ves a alguien que está haciendo un esfuerzo extra para asegurar que nuestra comunidad resulte acogedora, amable, y que anime a todos
  los participantes a contribuir en la mayor medida posible, lo queremos saber.
</p>

<p>
  Puedes nominar a alguien en la mesa de registro o diciéndolo a algún miembro de la organización.
</p>

<h2>Comportamiento Esperado</h2>
<ul>
  <li>
    Ser considerado, respetuoso y colaborativo.
  </li>
  <li>
    Abstenerse de comportamiento degradante, discriminatorio o de acoso.
  </li>
  <li>
    Ser consciente del entorno y de tus compañeros participantes. Alerta a los organizadores si observas una situación peligrosa o alguien
    en apuros.
  </li>
  <li>
    Participa de una manera auténtica y activa. Al hacerlo, estás ayudando a que <strong>es<span class="red">Libre</span></strong> sea una
    realidad.
  </li>
</ul>

<h2>Comportamiento Inaceptable</h2>
<p>
  Como comportamientos inaceptables se incluyen: intimidatorio, acosador, abusivo, conducta discriminatoria, despectiva o degradante por
  cualquier asistente de esLibre y eventos relacionados. El lugar donde se realiza <strong>es<span class="red">Libre</span></strong> puede
  ser compartido con otros visitantes; por favor, sé respetuoso con todos los visitantes de este lugar y con el propio entorno.
</p>

<p>
  El acoso incluye: comentarios verbales ofensivos relacionados con el género, la orientación sexual, la raza, la religión, la discapacidad;
  uso inadecuado de desnudez y/o imágenes sexuales en espacios públicos (incluyendo diapositivas de la presentación); intimidación
  deliberada, acecho o acoso con fotografía o grabación; interrupción sostenida de charlas y otros eventos; contacto físico inapropiado y
  atención sexual no deseada.
</p>

<h2>Consecuencias de un comportamiento inaceptable</h2>

<p>
  El comportamiento inaceptable no será tolerado. Ya sea por parte de los asistentes, organizadores, personal local, patrocinadores u otros
  patronos de lugares <strong>es<span class="red">Libre</span></strong>.
</p>

<p>
  Se espera que cualquiera cumpla inmediatamente en caso de que se le llame la atención por un comportamiento inaceptable.
</p>

<p>
  Si un participante se involucra en una conducta inaceptable, los organizadores de la conferencia pueden tomar cualquier acción que
  consideren apropiada, incluso la expulsión de la conferencia sin previo aviso o reembolso si fuera necesario.
</p>

<h2>¿Qué hacer si eres testigo u objeto de un comportamiento inaceptable?</h2>

<p>
  Si estás involucrado en un comportamiento inaceptable, eres testigo de otra persona con dicho comportamiento o tienes otras preocupaciones,
  por favor notifícalo a un organizador de la conferencia tan pronto como sea posible.
</p>

<p>
  El equipo de <strong>es<span class="red">Libre</span></strong> estará disponible para ayudar a los participantes de contactos de seguridad
  local o para ofrecer cualquier tipo de ayuda a aquellos que experimentan un comportamiento inaceptable.
</p>

<p>
  Durante el evento, los voluntarios vestirán diferente al resto de asistentes. Cualquier voluntario puede ponerse en contacto con un
  organizador de la conferencia. También puede venir a la mesa de inscripción en el vestíbulo y preguntar por los organizadores.
</p>

<h2>Ámbito de Aplicación</h2>

<p>
  Esperamos que todos los participantes de la conferencia (patrocinadores, voluntarios, ponentes, asistentes y otros invitados) cumplan con
  el código de conducta en todas las salas de conferencias y eventos relacionados con la conferencia.
</p>

<h2>Información de Contacto</h2>

<p>
  Si te ves en la necesidad de contactar con nosotros, <a href="/2021/acerca/">esta página</a> tiene toda la información necesaria.
</p>

<h2>Licencia y Atribución</h2>

<p>
  El código de conducta del evento se puede encontrar en <a href="/conducta/" target="_blank">{{ site.url }}/conducta/</a>.
  Este Código de Conducta es una copia directa del impresionante trabajo del Open Source Bridge, pero sustituido con nuestra información del
  evento. El original está disponible en <a href="http://opensourcebridge.org/about/code-of-conduct/" target="_blank">
    http://opensourcebridge.org/about/code-of-conduct/</a> y está liberado bajo una licencia
  <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es" target="_blank">Creative Commons Atribución-CompartirIgual 4.0
    Internacional (CC BY-SA 4.0)</a>.
</p>
