---
layout: 2019/default
section: programa
title: esLibre 2019 - Cristóbal Contreras - Pythonear sin salpicar
---

<h1 class="mt-3 mb-3">Track 1: Dev + Web (15:30 - 16:00)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/contreras_cristobal.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Cristóbal Contreras: "Pythonear sin salpicar"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  La charla es para aprender que son los <a href="https://en.wikipedia.org/wiki/Virtual_environment_software" target="_blank">entornos virtuales</a> en <a href="https://www.python.org/" target="_blank">Python</a>, y un par de herramientas /
  utilidades que nos permitan cacharrear con el lenguaje amigablemente.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Esta charla es para aprender como poder trabajar / trastear con Python de una forma limpia:

  <ul>
    <li>Sin llenar el PC de librerías que no vas a usar.</li>
    <li>No teniendo que tocar la versión de Python del sistema, haciendo que nada se rompa.</li>
  </ul>

  Para ello veremos que son los <strong>entornos virtuales</strong>, y en concreto las herramientas que nos facilitan trabajar con ellos:

  <ul>
    <li><a href="https://virtualenv.pypa.io/en/latest/" target="_blank">virtualenv<a></li>
    <li><a href="https://virtualenvwrapper.readthedocs.io/en/latest/" target="_blank">virtualenvwrapper</a></li>
    <li><a href="https://docs.pipenv.org/en/latest/" target="_blank">pipenv</a></li>
    <li><a href="https://github.com/pyenv/pyenv" target="_blank">pyenv</a></li>
  </ul>

  Si trabajas con Python o tienes ganas de trastear con este lenguaje, esta charla es básica para que progreses y descubras una razón más de porque mola tanto este lenguaje.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Personas con poca experiencia con Python o que esten empezando a programar con Python.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Cristóbal Contreras Rubio</strong>, flamer ecléctico y calvo. El "niño pa tó" donde curro. Colaboro desde hace tiempo en <a href="https://hacklabalmeria.net/" target="_blank">Hacklab Almería<a>, y me he involucrado en proyectos
      colaborativos (como <a href="http://thepymientoproject.com/" target="_blank">Pymiento Project</a>) donde siempre hemos priorizado
      a las personas y los procesos, antes que los resultados. Ahora ando con varias personas tratando de sacar adelante <a href="https://lajaqueria.org/" target="_blank">La Jaquería</a>, un <a href="https://es.wikipedia.org/wiki/Hacklab"
        target="_blank">hackspace</a> en Almería.<br><br>
      <a href="https://github.com/crisconru" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
      <a href="https://twitter.com/CrisConRu" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
      <a href="https://www.linkedin.com/in/cristobalcontrerasrubio/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
