---
layout: 2020/default
ready: no
---

<!-- Begin page content -->
<div class="media">
  <img src="/2020/assets/imgs/banner_eslibre_2020.png" alt="Logo esLibre" class="jumbotron mt-3 embed-responsive">
</div>

<div class="main-container container">
  <div class="row main-news">
    <div class="col-md-7">
      <h2>Localización</h2>
      <p>La edición del año 2020 de <strong>es<span class="red">Libre</span></strong> se celebrará finalmente online, transmitiendo desde la <a href="https://www.urjc.es/">Universidad Rey Juan Carlos</a> gracias al interés mostrado por su <a href="acerca/index.html"
          target="_blank">Oficina de Conocimiento y Cultura Libres (OfiLibre de la URJC)</a>.</p>
      <h2 style="padding-top: 0.25em">Últimas entradas en el blog:</h2>
      <ul>
      {% assign my_variable = false %}
      {% for post in site.posts %}
        {% if forloop.index != 4 %}
          {% if post.category == 2020 %}
            <li style="padding-bottom: 0.5em"><small>{{post.date | date: "%-d %m %Y" }}</small> <a href="{{post.url}}">{{post.title}}</a></li>
          {% endif %}
        {% else %}
          {% break %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    <div class="col-md-5">
      <img src="/2020/assets/imgs/mostoles2.jpg" alt="Universidad Rey Juan Carlos" class="embed-responsive">
    </div>
  </div>

  <div class="row main-news">
    <h2 style="padding-left: 0.5em">Organizadores:</h2>
    <div class="box">
      <a href="https://ofilibre.gitlab.io/" target="_blank">
        <img src="/2020/assets/logos/ofilibre_urjc.png" alt="Oficina de Conocimiento y Cultura Libres de la URJ" class="images-big">
      </a>
    </div>
    <div class="box">
      <a href="https://www.urjc.es/etsii" target="_blank">
        <img src="/2020/assets/logos/etsii_urjc.png" alt="ETSII URJ" class="images">
      </a>
      <a href="https://www.urjc.es/etsit" target="_blank">
        <img src="/2020/assets/logos/etsit_urjc.png" alt="ETSIT URJ" class="images">
      </a>
    </div>
    </div>

  <div class="row">
    <h2 style="padding-left: 0.5em">Colaboradores:</h2>
    <div class="box">
      <a href="https://cosmos.etsit.urjc.es/" target="_blank">
        <img src="/2020/assets/logos/comos.png" alt="Cosmos" class="images-small">
      </a>
      <a href="http://informaticosurjc.es/quienes-somos/" target="_blank">
        <img src="/2020/assets/logos/informaticos_urjc.png" alt="Informáticos URJC" class="images-small">
      </a>
      <a href="https://robotech.etsit.urjc.es/" target="_blank">
        <img src="/2020/assets/logos/robotech.png" alt="RoboTech" class="images-small">
      </a>
      <a href="https://wikimedia.es/" target="_blank">
        <img src="/2020/assets/logos/wikimedia_españa.png" alt="Wikimedia España" class="images-small">
      </a>
    </div>
    <div class="box">
      <a href="https://www.galpon.org/" target="_blank">
        <img src="/2020/assets/logos/galpon.png" alt="GALPon" class="images-small">
      </a>
      <a href="https://interferencias.tech/" target="_blank">
        <img src="/2020/assets/logos/interferencias.png" alt="Interferencias" class="images-small">
      </a>
      <a href="https://librelabgrx.cc/" target="_blank">
        <img src="/2020/assets/logos/librelabgrx.png" alt="LibreLabGRX" class="images-small">
      </a>
      <a href="https://librelabucm.org/" target="_blank">
        <img src="/2020/assets/logos/llucm.png" alt="Libre Lab UCM" class="images-small">
      </a>
      <a href="https://openexpoeurope.com/" target="_blank">
        <img src="/2020/assets/logos/openexpo.png" alt="OpenExpo Europe" class="images-small">
      </a>
    </div>
  </div>

</div>
<hr />
