---
layout: 2020/default
section: info
title: Información práctica sobre esLibre
---

<p style="padding-top: 1em" align="center">
  <cite style="color: black;">
    <strong><span class="red">ATENCIÓN</span></strong>: Debido a la situación por el COVID-19, la celebración de <strong>es<span class="red">Libre</span> 2020</strong> finalmente se celebrará de forma <strong>completamente virtual</strong>. Más información <a href="/2020/reanudacion/">aquí</a>.
  </cite>
</p>

<h1 class="mt-3 mb-3">Información práctica</h1>

<p>
<strong>es<span class="red">Libre</span> 2020</strong> se celebrará de forma virtual, y será los días 18 y 19 de septiembre de 2020: <strong>RESERVA LA FECHA!</strong> La información incluida en esta página detalla cómo será el congreso, y qué herramientas utilizaremos. Aunque en general, el esquema está ya decidido, puede haber pequeños cambios durante las próximas semanas, mientras se va desplegando la infraestructura, y se van haciendo pruebas. Puedes consultar también la presentación que realizamos el 5 de agosto, con los detalles que conocíamos en ese momento (<a href="/2020/presentaciones/presentacion.pdf">transparencias</a>, <a href="https://bbb.eslibre.urjc.es/playback/presentation/2.0/playback.html?meetingId=049beaf4d6eb745bcf94aaab3bb64e58af25c2ab-1596642616670">video</a>).
</p>

<p>
  La plataforma para la emisión de actividades será un servidor con <a href="https://bigbluebutton.org/">BigBlueButton</a> desplegado en la infraestructura que nos ha proporcionado la Universidad Rey Juan Carlos y que está siendo gestionada desde su OfiLibre. Según se vaya acercando la fecha del congreso se propondrá al menos una sesión de pruebas para quien quiera familiarizarse con la plataforma.
</p>

<p>
  También usaremos un servidor propio de <a href="https://rocket.chat/">RocketChat</a> para centralizar la información general y la coordinación de actividades durante el congreso. Es una plataforma de chat web similar a los servicios de mensajería instantánea típicos, que permite crear diferentes canales separados dentro del mismo servicio (incluso canales privados), pudiendo organizarse las conversaciones en el interior de los canales en hilos.
</p>

<p>
  Estamos evaluando también varias propuestas para intentar darle un toque más social al evento, intentando simular al máximo posible el ambiente de congreso presencial. Intentaremos dar la opción de crear pequeñas salas virtuales sobre la marcha con video o por lo menos audio, donde los asistentes del congreso que así lo deseen se puedan reunir libremente para charlar (usando seguramente <a href="https://openvidu.io/">OpenVidu</a>, <a href="https://meet.jit.si">Jitsi</a> y <a href="https://www.mumble.info/">Mumble</a> corriendo en la infraestructura propia). También nos gustaría probar a reunirnos en <a href="https://hubs.mozilla.com/">Mozilla Hubs</a> para recrear una reunión "física" en un mundo totalmente virtual. Por ahora, todo esto son posibilidades.
</p>

<p>
  En cuanto al esquema del congreso, trataremos de mantener la esencia de lo que estaba previsto:
</p>

<ul>

  <li>Charlas:

    <ul>
      <li>Se organizarán en varias pistas (tracks) paralelas, salvo las que sean designadas como plenarias. Cada pista contará con su propia sesión de BigBlueButton, un canal específico de RocketChat para la coordinación del mismo (anuncios, comentarios, preguntas...) y un moderador para asegurar el funcionamiento y la coordinación.</li>

      <li>Las ponencias serán en directo en esas pistas (sesiones de BigBlueButton), salvo cuando el ponente no pueda participar de esta manera (en ese caso, se grabará la ponencia con anterioridad).</li>

      <li>La duración de las charlas finalmente será de 20 minutos de exposición más 5 minutos para preguntas, y de 10 minutos (total) para las charlas relámpago.</li>
    </ul>
  </li>

  <li>Talleres:

    <ul>
      <li>Los talleres también se organizarán en pistas con su propia sesión BigBlueButton.</li>
      <li>Hay posibilidad de que las personas que asistan al taller usen sus propios equipos o que usen los ordenadores de los laboratorios de la URJC mediante acceso remoto (disponen de Ubuntu como sistema operativo y son accesibles mediante el navegador).</li>
      <li>BigBlueButton permite la opción de compartir pantalla fácilmente, por lo que podría ser usado por los participantes durante el seguimiento del taller.</li>
      <li>Debido a que pueden ser más complejas de gestionar que una charla común, cada taller puede contar con un canal específico de RocketChat para gestionar más fácilmente los anuncios, comentarios, preguntas...</li>
    </ul>
  </li>

  <li>Salas:

    <ul>
      <li>La organización de las salas tendrá plena decisión sobre los horarios y las actividades dentro del bloque de tiempo que se les asigne desde la organización del congreso dentro de la agenda del mismo.</li>
      <li>Cada sala se gestionará como una pista independiende, con su propia sesión de BigBlueButton y su canal de RocketChat.</li>
    </ul>
  </li>

</ul>

