---
layout: 2021/default
section: info
title: Información práctica sobre esLibre
---

<h1 class="mt-3 mb-3">Información práctica</h1>

<p>
  <strong>es<span class="red">Libre</span> 2021</strong> se celebrará de forma virtual a mediados de mayo de 2021. Próximamente incluiremos en esta página información de interés para las personas que quieran asistir al congreso, pero mientras puedes
  consultar <a href="/2021/acerca" target="_blank">la propuesta seleccionada para este año</a>.
</p>

<p>
  Si tienes cualquier duda, no dudes en escribirnos por correo a <a href="mailto:hola@eslib.re">hola@eslib.re</a>. También puedes unirte a nuestro grupo de conversación desde <a href="https://matrix.to/#/#esLibre:matrix.org" target="_blank">Matrix</a> o <a href="https://t.me/esLibre" target="_blank">Telegram</a>.
</p>

<h3 style="padding-top: 10px; padding-bottom: 270px; text-align: center;">
¡¡¡TE ESPERAMOS!!!
<h3>
