---
layout: 2021/default
ready: no
---

<!-- Begin page content -->
<div class="media">
  <img src="/2021/assets/imgs/banner_eslibre_2021.png" alt="Logo esLibre" class="jumbotron mt-3 embed-responsive">
</div>

<div class="main-container container">
  <div class="row main-news">
    <div class="col-md-7">
      <h2>Localización</h2>
      <p>La edición del año 2021 de <strong>es<span class="red">Libre</span></strong> también será finalmente online,
        esta vez organizada por parte de <a href="https://librelabucm.org/" target="_blank">LibreLabUCM</a>. Por lo
        pronto, puedes echarle un ojo a <a href="/2021/acerca" target="_blank">la propuesta</a> que presentaron para la edición
        de este año.</p>
      <h2 style="padding-top: 0.25em">Últimas entradas en el blog:</h2>
      <ul>
      {% assign my_variable = false %}
      {% for post in site.posts %}
        {% if forloop.index != 4 %}
          {% if post.category == 2021 %}
            <li style="padding-bottom: 0.5em"><small>{{post.date | date: "%-d %m %Y" }}</small> <a href="{{post.url}}">{{post.title}}</a></li>
          {% endif %}
        {% else %}
          {% break %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    <div class="col-md-5">
      <img src="/2021/assets/imgs/librelabucm.png" alt="LibreLabUCM" class="embed-responsive">
    </div>
  </div>

  <div class="row">
    <h2 style="padding-left: 0.5em">Colaboradores:</h2>
    <div class="box">
      <a href="https://interferencias.tech/" target="_blank">
        <img src="/2021/assets/logos/interferencias.png" alt="Interferencias" class="images-small">
      </a>
      <a href="https://librelabgrx.cc/" target="_blank">
        <img src="/2021/assets/logos/librelabgrx.png" alt="LibreLabGRX" class="images-small">
      </a>
      <a href="https://ofilibre.gitlab.io/" target="_blank">
        <img src="/2021/assets/logos/ofilibre_urjc.png" alt="OfiLibre URJC" class="images-small">
      </a>
      <a href="https://hackmadrid.org/" target="_blank">
        <img src="/2021/assets/logos/hackmadrid.png" alt="HackMadrid" class="images-small">
      </a>
    </div>
  </div>

</div>
<hr />
