---
layout: 2019/default
section: programa
title: esLibre 2019 - José Manuel Muñoz - Teorema de Artin-Wedderburn efectivo y códigos skew Reed-Solomon
---

<h1 class="mt-3 mb-3">Devroom 4: Informática y Matemáticas (12:15 - 12:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/munoz_jose_manuel.png" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">José Manuel Muñoz: "Teorema de Artin-Wedderburn efectivo y códigos skew Reed-Solomon"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Introducción a los códigos <a href="https://es.wikipedia.org/wiki/Reed-Solomon" target="_blank">Reed-Solomon</a>, construcción de códigos skew R-S a través de un isomorfismo de álgebras cuya existencia está dada por el <a
    href="https://es.wikipedia.org/wiki/Teorema_de_Artin-Wedderburn" target="_blank">teorema de Artin-Wedderburn</a>, y construcción explícita de dicho isomorfismo.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>José Manuel Muñoz</strong><br><br>
  <a href="https://github.com/josemam" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  </ul>
</div>
